/* word wrapping for pre elements from http://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag */
pre.snippet {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

    padding: 1rem;
    border-style: solid;
    border-width: thin;
}

h1, h2, h3, h4, h5 {
    margin-top: 1em;
}



img {
    max-width: 100%;
}


th, td {
    padding: 2px;
    vertical-align: top;
}



/* TABS */
.tabs > div {
    margin-bottom: 1em; /* margin after for content */
}

/* style tab header */
.tabs > label {
    display: inline-block;
    padding: 7px 12px;
    color: #1F76BC; /* normal link color */
    font-weight: bold;
    cursor: pointer;
    position: relative;
    float: left;
}


/* when hovering on tab header */
.tabs > label:hover {
    color: #00BCF2; /* hover link color */
}


/* Bootstrap adds a bottom margin to label, we'll disable it inside the tabs control */
.tabs label {
    margin-bottom: 0;
}

/* style the radio box so it's not visible */
.tabs > input {
    position: fixed;
    visibility: hidden;
}
      
/* and when the radio is checked, format the tab header*/
.tabs > input:checked + label {
    top: 0;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: #898989;
    padding-top: 6px;
    z-index: 3;
    box-shadow: 0 2px 0 -1px white;
}
      
/* and when radio is checked, show the associated tab content */
.tabs input:nth-of-type(1):checked ~ :not(input):not(label):nth-of-type(1) ,
.tabs input:nth-of-type(2):checked ~ :not(input):not(label):nth-of-type(2) ,
.tabs input:nth-of-type(3):checked ~ :not(input):not(label):nth-of-type(3) ,
.tabs input:nth-of-type(4):checked ~ :not(input):not(label):nth-of-type(4) ,
.tabs input:nth-of-type(5):checked ~ :not(input):not(label):nth-of-type(5) {
    display: block;
}

/* formatting of the tab content */
.tabs > :not(input):not(label){
    clear: both;
    z-index: 2;
    display: none;
    width: 100%;
    padding: 12px;
    border-style: solid;
    border-color: #898989;
    border-width: 1px;
    box-sizing: border-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.tabs .syntaxhighlighter {
    margin: -12px -12px -12px -12px !important;
    padding: 12px !important;
}

/* word wrapping for pre elements inside our tabs from http://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag */
pre.wrap {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* pre's get margin by default for some reason, looks bad inside our tab */
.tabs pre {
    margin: 0;
}


.app-using-control-screenshot {
    display: none;
    width: 100%;
    height: 400px;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.app-using-control {
    width: 135px;
    height: 135px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: blue;
    position: relative;
    display: inline-block;
}

.app-using-control:link,
.app-using-control:visited,
.app-using-control:hover,
.app-using-control:active {
    text-decoration: none
}

.app-using-control > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.app-using-control > span {
    position: absolute;
    bottom: 7px;
    left: 10px;
    color: white;
    font-weight: 600;
}