/* word wrapping for pre elements from http://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag */
pre.snippet {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

    padding: 1rem;
    border-style: solid;
    border-width: thin;
}

h1, h2, h3, h4, h5 {
    margin-top: 1em;
}






/* TABS */

/* style tab header */
.tabs > label {
    display: inline-block;
    padding: 7px 12px;
    color: #1F76BC; /* normal link color */
    font-weight: bold;
    cursor: pointer;
    position: relative;
    float: left;
}


/* when hovering on tab header */
.tabs > label:hover {
    color: #00BCF2; /* hover link color */
}



/* style the radio box so it's not visible */
.tabs > input[name="tab"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
      
/* and when the radio is checked, format the tab header*/
.tabs > input[name="tab"]:checked + label {
    top: 0;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: #898989;
    padding-top: 6px;
    z-index: 3;
    box-shadow: 0 2px 0 -1px white;
}
      
/* and when radio is checked, show the associated tab content */
.tabs input[name="tab"]:nth-of-type(1):checked ~ :not(input):not(label):nth-of-type(1) ,
.tabs input[name="tab"]:nth-of-type(2):checked ~ :not(input):not(label):nth-of-type(2) ,
.tabs input[name="tab"]:nth-of-type(3):checked ~ :not(input):not(label):nth-of-type(3) ,
.tabs input[name="tab"]:nth-of-type(4):checked ~ :not(input):not(label):nth-of-type(4) ,
.tabs input[name="tab"]:nth-of-type(5):checked ~ :not(input):not(label):nth-of-type(5) {
    display: block;
}

/* formatting of the tab content */
.tabs > :not(input):not(label){
    clear: both;
    z-index: 2;
    display: none;
    width: 100%;
    padding: 12px;
    border-style: solid;
    border-color: #898989;
    border-width: 1px;
    box-sizing: border-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

/* PROBABLY NOT NEEDED ANYMORE! */
.tabs::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* word wrapping for pre elements inside our tabs from http://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag */
pre.wrap {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* pre's get margin by default for some reason, looks bad inside our tab */
.tabs pre {
    margin: 0;
}